.boxes-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
  width: 100%;
  height: 80vh;
}

.box {
  background-color: #0d0d0d;
  margin: 0;
  box-sizing: border-box; /* Ensure padding is included in width/height */
}

.box1 {
  grid-column: 1;
  background-color: #1a1a1a;
  padding: 20px;
}

.box2 {
  grid-column: 2;
  background-color: #d3d3d3;
}

@media screen and (max-width: 768px) {
  .boxes-container {
    display:flex;
    flex-direction: column;
    height: 100vh;
  }

  .box1 {
    flex: 3.5;
  }

  .box2 {
    flex: 6.5;
  }
}


.map-container {
  width: 100%;
  height: 100%;
}

.datasetSelectorBox {
  width: 100%;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.datasetSelectorBox label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ccc;
}

@media screen and (max-width: 768px) {
  .datasetSelectorBox {
    overflow: auto; /* Enable scroll functionality */
    max-height: 200px; /* Adjust this value for your desired maximum height */
  }
}

.playlist {
  background-color: #333;
  border-radius: 5px;
  height: 400px;
  overflow: auto;
}

.playlist-item {
  padding: 10px;
  color: #ccc;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.playlist-item:hover {
  background-color: #444;
}

.playlist-item.selected {
  background-color: #555;
  color: #fff;
}

#soundFontSelect {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #333;
  color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#soundFontSelect:hover {
  background-color: #444;
}

#soundFontSelect option {
  background-color: #333;
  color: #ccc;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  padding: 10px;
  background-color: #333;
  color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #444;
}

#progress-bar {
  width: 100%;
  height: 10px;
  background-color: #333;
  margin-top: 10px;
}

#progress-bar-fill {
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.167s linear;
}

.info-button {
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: lightgrey;
  color: black;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.info-button::after {
  content: attr(title);
  position: absolute;
  top: -5px;
  right: 105%;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  display: none;
  z-index: 10;
  font-size: 12px;
}

.info-button:hover::after {
  display: block;
}